{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Profile Information -->
<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img style="width: 300px" src="{{ profile.profile_picture }}" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5><u>Name:</u> {{ profile.full_name }} </h5>
                    <!-- If Date of Birth -->
                    {% if profile.date_of_birth %}
                    <h5><u>Birthdate:</u> {{ profile.date_of_birth }}</h5>
                    <!-- If Email -->
                    {% endif %}
                    {% if profile.email %}
                    <h5><u>Email:</u> {{ profile.email}}</h5>
                    <!-- If Gender is Chosen -->
                    {% endif %}
                    {% if profile.gender %}
                    <h5><u>Gender:</u> {{ profile.gender }}</h5>
                    <!-- If Description -->
                    {% endif %}
                    {% if profile.description %}
                    <h5><u>Description:</u> {{ profile.description}}</h5>
                    {% endif %}
                </div>
                <p class="mt-2">Total Images: {{ number_of_images }}</p>
                <p class="mt-2">Total Likes: {{ total_likes }}</p>
                <a href="{% url 'update-profile' %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete-profile' %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- End Profile Information -->

<!-- Pets Information -->
<h2 class="text-center">My Pets</h2>
<div class="container mb-4">
    <div class="d-flex justify-content-start mb-5">
        {% for photo in images %}
        {% for pet in photo.tagged_pets.all %}
        <!-- Info for First Pet -->
        <div style="width: 18rem;">
            <h5>{{ pet.pet_name }}</h5>
            <p class="mt-2">{% if pet.pet_date_of_birth %}Age: {{ pet.age }}{% endif %}</p>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
        {% endfor %}
        {% endfor %}
        <!-- Info for Second Pet -->

    </div>
</div>
{% endblock %}
